 <div *ngIf="hero" class="container">
    <div class="col-md-8">
        <div class="greybox rounded clearfix">
            <h2>Your details</h2>
            <detail-summary-form></detail-summary-form>
        </div>
        <div class="greybox rounded clearfix">
            <h2>Payment details</h2>
            <payment-summary-form></payment-summary-form>
        </div>
    </div>
    <div class="col-md-4">
        <div class="desktop_persuasive">
          <div>
                <div class="greenbox instantconfirmation">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <div class="greenbox_content">
                        <h4>Instant Confirmation</h4>
                        <p>You will receive a confirmation email straight after booking.</p>
                    </div>
                </div>

                <div class="greenbox">
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                    <div class="greenbox_content">
                        <h4>Included In Your Stay:</h4>
                        <ul class="includedlist">
                            <li><i class="fa fa-check"></i> Free WiFi</li>
                            <li><i class="fa fa-check"></i> Free Breakfast</li>
                            <li><i class="fa fa-check"></i> Free Internet Access</li>
                            <li><i class="fa fa-check"></i> Free City Maps</li>
                        </ul>
                    </div>
                </div>

                <div>
                    <h2>Summary</h2>
                    <div class="greybox">
                        <h4>{{hero.name}}</h4>
                        <p>{{hero.address}}</p>
                    </div>
                    <div class="whitebox">
                    <ul>
                        <b><h4>Type of room</h4></b>
                        <p *ngFor="let room of hero.rooms | slice:2">{{room.title}}</p>
                    </ul>    
                    
                        <b><h4>Total price</h4></b>
                        <p>{{hero.totalPrice | currency:'USD':true}}</p>
                       
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>