
<div class="container">
  <h3>
    Module Driven Form
  </h3>
  <form [formGroup]="myForm" autocomplete="off" novalidate>
    <div class="form-field">
        <label for="">Title</label>
        <input type="text" class="form-control" formControlName="title">
        <!-- INSERISCO IL MESSAGGIO DI VALIDAZIONE -->
        <div *ngIf="myForm.controls.title.errors && (myForm.controls.title?.dirty || myForm.controls.title?.touched)">
          <div class="alert alert-danger" *ngIf="myForm.controls.title.errors?.required">This field is mandatory</div>
        </div>
    </div>
    <div class="form-field">
      <label for="">Duration</label>
      <input type="text" class="form-control" [formControl]="duration">
      <div *ngIf="myForm.controls.duration.errors && (myForm.controls.duration?.dirty || myForm.controls.duration?.touched)">
        <div class="alert alert-danger" *ngIf="myForm.controls.duration.errors?.required || myForm.controls.duration.errors?.pattern">Fill properly the field</div>
      </div>
    </div>
    <div class="form-field">
      <label for="">Duration CUSTOM VALIDATOR</label>
      <input type="text" class="form-control" [formControl]="durationCustom">
      <div *ngIf="myForm.controls.durationCustom?.errors && (myForm.controls.durationCustom?.dirty || myForm.controls.durationCustom?.touched)">
        <!-- <div class="alert alert-danger" *ngIf="myForm.controls.duration.errors?.required || myForm.controls.duration.errors?.pattern">Fill properly the field</div> -->
      </div>
    </div>
    <div class="form-field">
        <label for="">Description</label>
        <textarea formControlName="description" class="form-control" name="" id="" cols="30" rows="10"></textarea>
    </div>
    <div class="form-field">
        <button class="btn btn-primary" type="submit">Create Lesson</button>
    </div>
  </form>
</div>
